<script>
function isInputNumber(evt){var ch=String.fromCharCode(evt.which);
if(!(/[0-9]/.test(ch))){evt.preventDefault()}}
function check(){document.getElementById('f1').innerHTML=document.myform.lite.value;document.myform.reset()}
function keyCode(event){var w=event.keyCode;if(w==13){document.getElementById('f1').innerHTML=document.myform.lite.value;document.myform.reset()}}
</script>


<div class="container" >

<table class="table table-responsive">

  <tbody>
    <tr>
     
      <td rowspan="1", colspan="1"><%= image_tag ('Capture.JPG'), class: "img-responsive" %></td>
      
      <td>
      
      <h4> <strong>MagicInfo Data Link Server</strong></h4>
      <p> <i class="fa fa-check"></i> DataLink Server solution enables data that is frequently changed to be displayed on Samsung SMART Signage through a networked connection</p>
      <p> <i class="fa fa-check"></i> Template customization capabilities through an open Application Programming Interface (API)</p>
      <p> <i class="fa fa-check"></i> The solutions support a plug-in architecture connection with MS-SQL® and Oracle® databases </p>
      <p> <i class="fa fa-check"></i> Compatible with major database systems, legacy database systems, XML data sources, RSS data sources and Excel data sources</p>
      <p> <i class="fa fa-check"></i> Enables users to connect content creation and authoring sources to MagicInfo server</p>
      </td>
      
      
    </tr>
    
    
    <tr>

      <td>
      
      <p> <i class="fa fa-check"></i> For operator convenience, MS Excel files can be used to store and update content, with any changes automatically reflected on the connected displays</p>
      <p> <i class="fa fa-check"></i> Database systems, such as those used by airlines and train stations can be connected through DataLink for automatically updated scheduling</p>
      <p> <i class="fa fa-check"></i> Content can be played directly from an attached USB drive, or from internal memory</p>
      
      <p> <i class="fa fa-check"></i> DataLink can convert text to display as icons for more appealing and eye-catching content presentation</p>
      
      <p> <i class="fa fa-check"></i> Pricing data can be changed directly on a server and is automatically updated and displayed on the signage in real time</p>
      </td>
      
      <td rowspan="1", colspan="1"><%= image_tag ('lite2.PNG'), class: "img-responsive" %></td>
      
    </tr>

    <tr>

      <td>
      
      <H3>MagicInfo Data Link Licensing model</H3>
      </br>
      <p><i class="fa fa-check"></i> Each display requires an individual license in order to connect to the Data Link server software</p>
      <p><i class="fa fa-check"></i> MagficInfo Premium licenses per connected display are also required</p>
      <p><i class="fa fa-check"></i> Additional displays may be added using a purchasable license per display</p>
      <p><i class="fa fa-check"></i> Data Link must be installed locally on the server PC</p>
      <p><b>(Part # BW-MIE30DA)</b></p>
      <p><b>Sales contact: </b>1-866-SAM-4BIZ</p>
      <a href = "mailto: SBSales_ChannelOnboarding@sea.samsung.com">SBSales_ChannelOnboarding@sea.samsung.com</a>
      
      <td rowspan="1">
    </br>
      <h4><p>Calculate required Data Link licenses</p></h4>
          </br>
            <div >

                <form name='myform'  class="form-inline">     
                  <div class="well">
                      
                      <div class="form-group">
               </br>        
                        <input type="text" name="lite" value ="" class="form-control" placeholder="Number of Displays" onkeypress="isInputNumber(event)" 
                            onkeydown = "keyCode(event)"> 
                        <button name = "button" type="button" class="btn btn-primary" onclick = "check(); return false ">Calculate</button>

                      </div>

                  </div>
                  
                </form>
              
            </div>
            
            </br>
            
           <h4> <p>Total required licenses: </h4>
           <p><h3 id="f1"></h3></p>
      
      </td>
    </tr>

  </tbody>

</table>


            
</div>      


<br>