<div class="home-callout text-center">
  <h1>MagicInfo Configurator</h1>
  
</div>


<div id = "home">
  <div class = "landing-text">
    <h1>MagicInfo</h1>
    <h3>Follow the workflow path of acquiring and setting up MagicInfo</h3>
    <a href = "#" class = "btn btn-default btn-lg">Get Started</a>
  </div>
  
</div>

<div class = "padding">
  <div class = "container home-signup-links">
  

  <div class = "row">
    
    <div class = "col-md-3 col-sm-6">
      <div class = "well">
        <h3 class = "text-center">MagicInfo Lite</h3>
          <%= link_to "Get Started", lite_path, class: 'btn btn-success btn-lg btn-block' %>
      </div>
    </div>
    
    <div class = "col-md-3 col-sm-6">
      <div class = "well">
        <h3 class = "text-center">MagicInfo Premium</h3>
        <%= link_to "Get Started", "#", class: 'btn btn-success btn-lg btn-block' %>
      </div>
    </div>
    
    <div class = "col-md-3 col-sm-6">
      <div class = "well">
        <h3 class = "text-center">RM Server</h3>
        <%= link_to "Get Started", "#", class: 'btn btn-success btn-lg btn-block' %>
      </div>
    </div>
    
    <div class = "col-md-3 col-sm-6">
      <div class = "well">
        <h3 class = "text-center">Data Link</h3>
        <%= link_to "Get Started", "#", class: 'btn btn-success btn-lg btn-block' %>
      </div>
    </div>
    

    
  </div>
</div>
</div>

<div class = "padding">
  <div class = "container">
    <div class ="row">
      <div class = "col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h4>Example text</h4>
      </div>
      
      <div class = "col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h4>Example text</h4>
      </div>
      
      <div class = "col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h4>Example text</h4>
      </div>
      
    </div>
    
  </div>
</div>
  
