<div class="home-callout text-center">
  <h1>MagicInfo Configurator</h1>
  
</div>


<div id = "home">
  <div class = "container">  
    <div class = "landing-text">
      <h1><strong>MagicINFO</strong></h1>
      <h4>MagicINFO is the industry leading platform to offer seamless remote hardware and software <p>management, 
      enabling content teams to update message designs and schedules from any location at any time.</p></h4>
      <h4><p>Follow the workflow path below for acquiring and setting up MagicInfo</p></h4>
      
    </div>
  </div>  
</div>

<div class = "padding">
  <div class = "container home-signup-links">
  

  <div class = "row">
    
    <div class = "col-md-3 col-sm-6 col-xs-12">
      <div class = "well">
        <h3 class = "text-center">Lite</h3>
          <%= link_to "Get Started", lite_path, class: 'btn btn-success btn-lg btn-block' %>
      </div>
    </div>
    
    <div class = "col-md-3 col-sm-6 col-xs-12">
      <div class = "well">
        <h3 class = "text-center">Premium</h3>
        <%= link_to "Get Started", "#", class: 'btn btn-success btn-lg btn-block' %>
      </div>
    </div>
    
    <div class = "col-md-3 col-sm-6 col-xs-12">
      <div class = "well">
        <h3 class = "text-center">RM Server</h3>
        <%= link_to "Get Started", "#", class: 'btn btn-success btn-lg btn-block' %>
      </div>
    </div>
    
    <div class = "col-md-3 col-sm-6 col-xs-12">
      <div class = "well">
        <h3 class = "text-center">Data Link</h3>
        <%= link_to "Get Started", "#", class: 'btn btn-success btn-lg btn-block' %>
      </div>
    </div>
    

    
  </div>
</div>
</div>

<div id = "fixed">
  
</div>

<div class = "padding">
  <div class = "container">
    <div class ="row">
      <div class = "col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h4>Example text</h4>
      </div>
      
      <div class = "col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h4>Example text</h4>
      </div>
      
      <div class = "col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h4>Example text</h4>
      </div>
      
      <div class = "col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <h4>Example text</h4>
      </div>
      
    </div>
    
  </div>
</div>
  
<div id = "fixed">
  
</div>

</br>

<div class = "padding">
  <div class = "container">
    <div class ="row">
      
      <div class = "col-sm-6">
        <h4>Example text</h4>
        <p>Example paragraph.</p>
      </div>
      
    </div>
    
  </div>
</div>