<div class = "container">
    <h3>
        MagicInfo Lite licensing 
    </h3>
    <br/>
    
     
    
    <table class="table table-bordered">
      
      <thead>
        <tr bgcolor="#007BE8">

          <th scope="col">MagicInfo server enabled features</th>
          <th scope="col">MagicInfo Lite</th>
          
          
        </tr>
      </thead>
      
      <tbody>
        <tr>
          
          <td colspan="2">Content Creation</td>

          
        </tr>
        
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>

        </tr>
        
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>

        </tr>
      </tbody>
    </table>
    
    
    
    
</div>