<script>
function isInputNumber(evt){var ch=String.fromCharCode(evt.which);
if(!(/[0-9]/.test(ch))){evt.preventDefault()}}
function check(){document.getElementById('f1').innerHTML=document.myform.lite.value;document.myform.reset()}
function keyCode(event){var w=event.keyCode;if(w==13){document.getElementById('f1').innerHTML=document.myform.lite.value;document.myform.reset()}}
</script>


<div class="container" >

<table class="table table-responsive">

  <tbody>
    <tr>
     
      <td rowspan="1", colspan="1"><%= image_tag ('rmserver.jpg'), class: "img-responsive" %></td>
      
      <td>
      
      <h4> <strong>MagicInfo Remote Management Solution (RMS Player)</strong></h4>
      <p> <i class="fa fa-check"></i> Remotely control all on-screen display menus</p>
      <p> <i class="fa fa-check"></i> Adjust critical hardware settings including power, volume control, input source, picture mode and time</p>
      <p> <i class="fa fa-check"></i> Control web browser settings such as homepage, moving URLs, zoom ratio and refresh intervals</p>
      <p> <i class="fa fa-check"></i> Control all security settings including network port access and USB navigation based on company’s security policy</p>
      <p> <i class="fa fa-check"></i> Manage display firmware versions. Users can also register or publish new firmware for their displays</p>
      
      </td>
      
      
    </tr>
    
    
    <tr>

      <td>
      
      <p> <i class="fa fa-check"></i> View information on more than 130 hardware and software errors and details to diagnose a device problem on the user’s network/p>
      <p> <i class="fa fa-check"></i> All SoC LFDs are equipped with an onboard USB port, for connecting standard USB flash drives</p>
      <p> <i class="fa fa-check"></i> Receive an error code from the server detailing the issue and providing guidance on how to resolve the error remotely using the Web Manual</p>
      <p> <i class="fa fa-check"></i> Access Remote Management server at any time, regardless of location via mobile</p>
      <p> <i class="fa fa-check"></i> Review device summary information such as error occurrence, connection history and approval status</p>
      <p> <i class="fa fa-check"></i> Display a customized logo as device turns on via Remote Management to ensure brand visibility</p>
      <p> <i class="fa fa-check"></i> Initial setting recognition with automatic device grouping using device group codes</p>
      <p> <i class="fa fa-check"></i> Improve setup by setting automatic configuration values using device preset codes</p>
      <p> <i class="fa fa-check"></i> Set custom default content to be played by default on the display when there is nothing else scheduled</p>
      </td>
      
      <td rowspan="1", colspan="1"><%= image_tag ('lite2.PNG'), class: "img-responsive" %></td>
      
    </tr>

    <tr>

      <td>
      
      <H3>MagicInfo RMS player Licensing model</H3>
      </br>
      <p><i class="fa fa-check"></i> Each display requires an individual license in order to connect to the MagicInfo server software</p>
      <p><i class="fa fa-check"></i> Additional displays may be added using a purchasable license per display</p>
      <p><b>(Part # BW-RMS40SA)</b></p>
      
      <td rowspan="1">
    </br>
      <h4><p>Calculate required MagicInfo RMS licenses</p></h4>
          </br>
            <div >

                <form name='myform'  class="form-inline">     
                  <div class="well">
                      
                      <div class="form-group">
               </br>        
                        <input type="text" name="lite" value ="" class="form-control" placeholder="Number of Displays" onkeypress="isInputNumber(event)" 
                            onkeydown = "keyCode(event)"> 
                        <button name = "button" type="button" class="btn btn-primary" onclick = "check(); return false ">Calculate</button>

                      </div>

                  </div>
                  
                </form>
              
            </div>
            
            </br>
            
           <h4> <p>Total required licenses: </h4>
           <p><h3 id="f1"></h3></p>
      
      </td>
    </tr>

  </tbody>

</table>


            
</div>      


<br>