/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html, body {
  height: 100%;
  width: 100%;
}
 
 // Typography Styles
 h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

td {
    font-family: 'Poppins', sans-serif;
}

// Background Gradient
.navbar, .home-callout {
  //Gradient provided by @_ighosh at uiGradients.com
  background: #00c6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #00c6ff , #0072ff); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #00c6ff , #0072ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// Nav Styles
.navbar {
  border: none;
}

.navbar-brand {
  font-family: 'Poppins', sans-serif;
  font-weight: 1000;
  
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}
.navbar-default .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus {
    background-color: #00c6ff;
  }
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: white;
  &:hover {
    color: white;
    opacity: 0.75;
  }
}

// Home Page Styles

#home {
  background: image-url('img_magicinfo_kv.png') no-repeat center center fixed;
  display: table;
  height: 45%;
  position:relative;
  width: 100%;
  background-size: cover;
}


.home-callout {
  color: white;
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 100px;

}


.alert-notice {
  display: none;
}

.home-signup-links {
  margin-top: 30px;
}

.home-signup-links2 {
  
      width: 400px;
    margin: 0 auto;
    
}

.btn-success {
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 15px;
  border-radius: 40px;
  transition: all 0.3s ease 0s;

}

.landing-text {
  display: table-cell;
  vertical-align: middle;
  color: white;
  padding-top: 150px;
  text-align: justify;
  text-justify: inter-word;
}

.landing-text .h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 500%;
  font-weight: 700;
}

.padding {
  padding: 80px 0;
}

.padding img {
  width: 100%;
}

#fixed {
  background: image-url('img_overview_configuration_01.jpg') no-repeat center center fixed;
  display: table;
  height: 10%;
  position: relative;
  width: 100%;
  background-size: cover;
}

footer {
  width: 100%;
  background-color: #363636;
  padding: 5% 5% 10% 5%;
  color: #a6a6a6;
}

#fa {
  padding: 15px;
  font-size: 25px;
  color: #FFF;
}

#fa:hover {
  color: #D5D5D5;
  text-decoration: none;
}

.icon {
  max-width: 200px;
}

@media (max-width: 768px) {
  .landing-text {
    font-size: 300%;
  }
  #fa {
    font-size: 20px;
    padding: 10px;
  }
  .icon {
    padding-top: 5%;
    margin: auto;
    width: 50%;
  }
}